h1 {
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: purple;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color: orange;
    font-family: 'Times New Roman', Times, serif;
}